.rectangleDiv1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #001a33;
}
.channelsDiv {
  position: absolute;
  height: 31.86%;
  width: 27.47%;
  top: 30.97%;
  right: 32.8%;
  bottom: 37.17%;
  left: 39.73%;
  font-weight: 500;
  display: inline-block;
}
.tv1Icon {
  position: absolute;
  height: 48.67%;
  width: 14.4%;
  top: 23.01%;
  right: 74.13%;
  bottom: 28.32%;
  left: 11.47%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.rectangleDiv {
  position: absolute;
  top: 226px;
  left: 0;
  background-color: #001a33;
  width: 375px;
  height: 113px;
}
.channelsDiv1 {
  position: absolute;
  height: 31.86%;
  width: 42.13%;
  top: 30.97%;
  right: 18.13%;
  bottom: 37.17%;
  left: 39.73%;
  font-weight: 500;
  display: inline-block;
}
.rectangleDiv2 {
  position: absolute;
  top: 113px;
  left: 0;
  background-color: #001a33;
  width: 375px;
  height: 113px;
}
.channelsDiv2 {
  position: absolute;
  height: 31.86%;
  width: 34.67%;
  top: 30.97%;
  right: 25.6%;
  bottom: 37.17%;
  left: 39.73%;
  font-weight: 500;
  display: inline-block;
}
.groupDiv,
.rectangleDiv4 {
  position: absolute;
  left: 0;
  width: 375px;
}
.rectangleDiv4 {
  top: 0;
  background-color: #001a33;
  height: 113px;
}
.groupDiv {
  top: 36px;
  height: 339px;
}
.drawerDiv {
  position: relative;
  background-color: #001a33;
  width: 375px;
  height: 375px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  font-size: 30px;
  color: #fff;
  font-family: Inter;
}
